{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .custom-form {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 5rem; 
    }
</style>
<section style="height: 150vh; overflow: auto;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-white">New Journal</h2>
            </div>
            <div class="col-md-12">
                <form method="POST" action="{% url 'add_journal' %}" class="custom-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Date:</label>
                                <input type="date" name="date" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Journal No:</label>
                                <input type="text" name="journal_no" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Reference No:</label>
                                <input type="text" name="reference_no" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Notes:</label>
                                <textarea name="notes" class="form-control" style="height: 60px;"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Currency:</label>
                                <select name="currency" class="form-control">
                                    <option value="INR">INR-Indian Rupee</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-check-label">Journal Type:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" name="cash_journal" class="form-check-input" id="cash_journal">
                                <label class="form-check-label" for="">Cash Based Journal</label>
                            </div>
                        </div>
                    </div>
                    <table id="journal_table" class="table table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Select Account</th>
                                <th>Description</th>
                                <th>Contact (INR)</th>
                                <th>Debits</th>
                                <th>Credits</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <select name="account" class="form-control">
                                        <option value="">Select Account</option>
                                        {% for account in accounts %}
                                        <option value="{{ account.accountName }}">{{ account.accountName }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" name="description" class="form-control"></td>
                                 <td>
                                    <select name="contact" class="form-control">
                                        <option value="">Select Contact (INR)</option>
                                        {% for customer in customers %}
                                        <option value="{{ customer.customerName }}">{{ customer.customerName }}</option>
                                        {% endfor %}
                                        {% for vendor in vendors %}
                                        <option value="{{ vendor.vendor_display_name }}">{{ vendor.vendor_display_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="number" name="debits" class="form-control" onchange="calculateTotals()"></td>
                                <td><input type="number" name="credits" class="form-control" onchange="calculateTotals()"></td>
                                <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="addRow()">+</button>  
                    <br><br>                  
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label for="">Attach File(s):</label>
                            <div class="form-group">
                                <input type="file" name="attachment" class="form-control-file">
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Amount</td>
                                        <td><input type="number" class="form-control" id="totalDebit" placeholder="0" ></td>
                                        <td><input type="number" class="form-control" id="totalCredit" placeholder="0" ></td>
                                    </tr>
                                    <tr>
                                        <td>Difference</td>
                                        <td><input type="number" class="form-control" id="debitDifference" placeholder="0" ></td>
                                        <td><input type="number" class="form-control" id="creditDifference" placeholder="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-outline-secondary" onClick="javascript:history.go(-1);">Back</button>
                        </div>
                        <div class="col-md-4 text-center">
                            <button type="submit" class="btn btn-secondary w-50">Save</button>
                        </div>
                        <div class="col-md-4 text-end">
                            <button type="button" class="btn btn-outline-secondary" onclick="clearForm()">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function addRow() {
        var table = document.getElementById("journal_table");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var numberCell = row.insertCell(0);
        var accountCell = row.insertCell(1);
        var descriptionCell = row.insertCell(2);
        var contactCell = row.insertCell(3);
        var debitsCell = row.insertCell(4);
        var creditsCell = row.insertCell(5);
        var actionCell = row.insertCell(6);

        numberCell.innerHTML = rowCount;
        accountCell.innerHTML = '<select name="account" class="form-control"><option value="">Select Account</option>{% for account in accounts %}<option value="{{ account.accountName }}">{{ account.accountName }}</option>{% endfor %}</select>';
        descriptionCell.innerHTML = '<input type="text" name="description" class="form-control">';
        var options = '';
        options += '<option value="">Select Contact</option>';

        '{% for vendor in vendors %}'
            options += '<option value="{{ vendor.vendor_display_name }}">{{ vendor.vendor_display_name }}</option>';
        '{% endfor %}'

        '{% for customer in customers %}'
            options += '<option value="{{ customer.customerName }}">{{ customer.customerName }}</option>';
        '{% endfor %}'

        contactCell.innerHTML = '<select name="contact" class="form-control">' + options + '</select>';

        debitsCell.innerHTML = '<input type="number" name="debits" class="form-control" onchange="calculateTotals()">';
        creditsCell.innerHTML = '<input type="number" name="credits" class="form-control"onchange="calculateTotals()">';
        actionCell.innerHTML = '<button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-times"></i></button>';
    }

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function clearForm() {
        var form = document.querySelector('form');
        form.reset();
    }

    function calculateTotals() {
        var debitInputs = document.querySelectorAll('input[name="debits"]');
        var creditInputs = document.querySelectorAll('input[name="credits"]');
        var totalDebit = 0;
        var totalCredit = 0;

        debitInputs.forEach(function (input) {
            totalDebit += parseFloat(input.value) || 0;
        });

        creditInputs.forEach(function (input) {
            totalCredit += parseFloat(input.value) || 0;
        });

        document.getElementById('totalDebit').value = totalDebit.toFixed(2);
        document.getElementById('totalCredit').value = totalCredit.toFixed(2);

        var difference = totalDebit - totalCredit;

        if (difference < 0) {
            document.getElementById('debitDifference').value = Math.abs(difference).toFixed(2);
            document.getElementById('creditDifference').value = "0.00";
        } else {
            document.getElementById('debitDifference').value = "0.00";
            document.getElementById('creditDifference').value = difference.toFixed(2);
        }
    }
</script>

{% endblock %}
