{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .custom-form {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 5rem; 
    }
    .custom-form .form-control {
        background-color: #333;
        color: #fff;
    }
    /* .modal-dialog.modal-dialog-centered {
        margin-top: 10%;
    } */
    .custom-form label {
        color: #fff;
    }
</style>
<section style="height: 150vh; overflow: auto;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-white">Edit Journal</h2>
            </div>
            <div class="col-md-12">
                <form method="POST" action="{% url 'edit_journal' journal.id%}" class="custom-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <!-- <h4>Journal Details:</h4>
                        <p>Journal ID: {{ journal.id }}</p>  -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Date:</label>
                                <input type="date" name="date" class="form-control" value="{{ journal.date|date:'Y-m-d' }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Journal No:</label>
                                <input type="text" name="journal_no" class="form-control" value="{{ journal.journal_no }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Reference No:</label>
                                <input type="text" name="reference_no" class="form-control" value="{{ journal.reference_no }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Notes:</label>
                                <textarea name="notes" class="form-control" style="height: 60px;">{{ journal.notes }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Currency:</label>
                                <select name="currency" class="form-control">
                                    <option value="INR">INR-Indian Rupee</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-check-label">Journal Type:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" name="cash_journal" class="form-check-input" id="cash_journal" {% if journal.cash_journal %}checked{% endif %}>
                                <label class="form-check-label" for="">Cash Based Journal</label>
                            </div>
                        </div>
                    </div>
                    <table id="journal_table" class="table table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Select Account</th>
                                <th>Description</th>
                                <th>Contact (INR)</th>
                                <th>Debits</th>
                                <th>Credits</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journal_entry in journal.journalentry_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <div class="input-group">
                                    <select name="account" class="form-control">
                                        <option value="">Select Account</option>
                                        {% for account in accounts %}
                                        <option value="{{ account.accountName }}" {% if journal_entry.account == account.accountName %}selected{% endif %}>{{ account.accountName }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button type="button" class="form-control btn btn-primary" onclick="openModal()">+</button>                                    
                                    </div>
                                </div>
                                </td>
                                <td><input type="text" name="description" class="form-control" value="{{ journal_entry.description }}"></td>
                                <td>
                                    <select name="contact" class="form-control">
                                        <option value="">Select Contact (INR)</option>
                                        {% for customer in customers %}
                                        <option value="{{ customer.customerName }}" {% if journal_entry.contact == customer.customerName %}selected{% endif %}>{{ customer.customerName }}</option>
                                        {% endfor %}
                                        {% for vendor in vendors %}
                                        <option value="{{ vendor.vendor_display_name }}" {% if journal_entry.contact == vendor.vendor_display_name %}selected{% endif %}>{{ vendor.vendor_display_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="number" name="debits" class="form-control" value="{{ journal_entry.debits }}" onchange="calculateTotals()"></td>
                                <td><input type="number" name="credits" class="form-control" value="{{ journal_entry.credits }}" onchange="calculateTotals()"></td>
                                <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-times"></i></button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="addRow()">+</button>  
                    <br><br>                  
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label for="">Attach File(s):</label>
                            <div class="form-group">
                                <input type="file" name="attachment" class="form-control-file">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Total Amount</td>
                                        <td><input type="number" class="form-control" id="totalDebit" placeholder="0" value="{{ journal.total_debit }}"></td>
                                        <td><input type="number" class="form-control" id="totalCredit" placeholder="0" value="{{ journal.total_credit }}"></td>
                                    </tr>
                                    <tr>
                                        <td>Difference</td>
                                        <td><input type="number" class="form-control" id="debitDifference" placeholder="0" value="{{ journal.difference }}"></td>
                                        <td><input type="number" class="form-control" id="creditDifference" placeholder="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-left mt-4">
                        <div class="col-md-4 text-start"> 
                            <button type="submit" class="btn btn-secondary">Save</button>
                            <button type="button" class="btn btn-outline-secondary ms-2" onclick="clearForm()">Clear</button> <!-- Added class: ms-2 -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="accountForm" method="POST" action="{% url 'add_account' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Account Type:</label>
                        <input type="text" name="accountType" class="form-control text-dark" id="id_accountType" required>
                    </div>
                    <div class="form-group">
                        <label>Account Name:</label>
                        <input type="text" name="accountName" class="form-control  text-dark" id="id_accountName" required>
                    </div>
                    <div class="form-group">
                        <label>Account Code:</label>
                        <input type="text" name="accountCode" class="form-control  text-dark" id="id_accountCode" required>
                    </div>
                    <div class="form-group">
                        <label >Description:</label>
                        <textarea name="description" class="form-control  text-dark" id="id_description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function addRow() {
        var table = document.getElementById("journal_table");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var numberCell = row.insertCell(0);
        var accountCell = row.insertCell(1);
        var descriptionCell = row.insertCell(2);
        var contactCell = row.insertCell(3);
        var debitsCell = row.insertCell(4);
        var creditsCell = row.insertCell(5);
        var actionCell = row.insertCell(6);

        numberCell.innerHTML = rowCount;
        accountCell.innerHTML = `
    <div class="input-group">
        <select name="account" class="form-control">
            <option value="">Select Account</option>
            {% for account in accounts %}
            <option value="{{ account.accountName }}">{{ account.accountName }}</option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button type="button" class="form-control btn btn-primary" onclick="openModal()">+</button>
        </div>
    </div>
`;
        descriptionCell.innerHTML = '<input type="text" name="description" class="form-control">';
        var options = '';
        options += '<option value="">Select Contact</option>';

        '{% for vendor in vendors %}'
            options += '<option value="{{ vendor.vendor_display_name }}">{{ vendor.vendor_display_name }}</option>';
        '{% endfor %}'

        '{% for customer in customers %}'
            options += '<option value="{{ customer.customerName }}">{{ customer.customerName }}</option>';
        '{% endfor %}'

        contactCell.innerHTML = '<select name="contact" class="form-control">' + options + '</select>';

        debitsCell.innerHTML = '<input type="number" name="debits" class="form-control" onchange="calculateTotals()">';
        creditsCell.innerHTML = '<input type="number" name="credits" class="form-control"onchange="calculateTotals()">';
        actionCell.innerHTML = '<button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-times"></i></button>';
    }

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function clearForm() {
        var form = document.querySelector('form');
        form.reset();
    }

    function calculateTotals() {
        var debitInputs = document.querySelectorAll('input[name="debits"]');
        var creditInputs = document.querySelectorAll('input[name="credits"]');
        var totalDebit = 0;
        var totalCredit = 0;

        debitInputs.forEach(function (input) {
            totalDebit += parseFloat(input.value) || 0;
        });

        creditInputs.forEach(function (input) {
            totalCredit += parseFloat(input.value) || 0;
        });

        document.getElementById('totalDebit').value = totalDebit.toFixed(2);
        document.getElementById('totalCredit').value = totalCredit.toFixed(2);

        var difference = totalDebit - totalCredit;

        if (difference < 0) {
            document.getElementById('debitDifference').value = Math.abs(difference).toFixed(2);
            document.getElementById('creditDifference').value = "0.00";
        } else {
            document.getElementById('debitDifference').value = "0.00";
            document.getElementById('creditDifference').value = difference.toFixed(2);
        }
    }
    function openModal() {
        $('#myModal').modal('show');
    }
    $('#accountForm').submit(function (e) {
    e.preventDefault(); 

    var form = $(this);
    var url = form.attr('action');
    var formData = form.serialize();

    $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        success: function (response) {
    if (response.success === true) {
        var accountSelect = document.querySelector('select[name="account"]');
        var option = document.createElement('option');
        option.value = response.accountName;
        option.text = response.accountName;
        accountSelect.add(option);

        $('#myModal').modal('hide');
    } else {
        console.log(response.message);
    }
},
        error: function (xhr, status, error) {
            console.error(error);
        }
    });
});
</script>

{% endblock %}
