{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .custom-form {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 5rem; 
    }
    .custom-form .form-control {
        background-color: #333;
        color: #fff;
    }
    /* .modal-dialog.modal-dialog-centered {
        margin-top: 10%;
    } */
    .custom-form label {
        color: #fff;
    }
    .modal{
    z-index: 9999;
    overflow: scroll;
  }
  #aover{
    color: rgb(214, 141, 5);
  }
/* #aover:hover{
  font-weight: bold;
} */
tr:hover{
  background-color: #8f8e8e2a;
  font-weight: bold;

}


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(252, 236, 217);

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    #selected-area{
        font-size: 20px;
    }
  


    /* .......................................... search box.............. */
    .select-box{
      position: relative;
    }
    .select-option{
      position: relative;
    }
    .select-option input{
      width: 100%;
      cursor: pointer;
      background-color: white;
      color: black;
      border-radius: 7px;
      padding: 10px 15px;
      border: 0 !important;
      outline: 0 !important;
    }
    .select-option:after{
      content: "";
      border-top: 12px solid #000;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -8px;

    }
    .content{
      background-color: white;
      position: absolute;
      color: black;
      border-radius: 7px;
      margin-top: 15px;
      width: 100%;
      z-index: 999;
      padding: 20px;
      display: none;
    }
    .search input{
      width: 100%;
      font-size: 17px;
      padding: 15px;
      outline: 0;
      border: 1px solid #b3b3b3;
      border-radius: 5px;
    }
    .options{
      margin-top: 10px;
      max-height: 150px;
      overflow-y: auto;
      padding: 0;
      
    }
    .options li{
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      border-bottom: 1px solid gray;
    }
    .select-box.active .content{
      display: block;
    }
    .select-box.active .select-option:after{
      transform: rotate(-180deg);
    }
    

    
    /* .......................................... search box1.............. */
    .select-box1{
      position: relative;
    }
    .select-option1{
      position: relative;
    }
    .select-option1 input{
      width: 100%;
      cursor: pointer;
      background-color: white;
      color: black;
      border-radius: 7px;
      padding: 10px 15px;
      border: 0 !important;
      outline: 0 !important;
    }
    .select-option1:after{
      content: "";
      border-top: 12px solid #000;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -8px;

    }
    .content1{
      background-color: white;
      position: absolute;
      color: black;
      border-radius: 7px;
      margin-top: 15px;
      width: 100%;
      z-index: 999;
      padding: 20px;
      display: none;
    }
    .search1 input{
      width: 100%;
      font-size: 17px;
      padding: 15px;
      outline: 0;
      border: 1px solid #b3b3b3;
      border-radius: 5px;
    }
    .options1{
      margin-top: 10px;
      max-height: 150px;
      overflow-y: auto;
      padding: 0;
      
    }
    .options1 li{
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      border-bottom: 1px solid gray;
    }
    .select-box1.active .content1{
      display: block;
    }
    .select-box1.active .select-option1:after{
      transform: rotate(-180deg);
    }
    label{
      color:#fff;
    }
</style>
<section style="height: 150vh; overflow: auto;background-color: #202325;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="text-white">Edit Journal</h2>
            </div>
            <div class="col-md-12">
                <form method="POST" action="{% url 'edit_journal' journal.id%}" class="custom-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <!-- <h4>Journal Details:</h4>
                        <p>Journal ID: {{ journal.id }}</p>  -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Date:</label>
                                <input type="date" name="date" class="form-control" value="{{ journal.date|date:'Y-m-d' }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Journal No:</label>
                                <input type="text" name="journal_no" class="form-control" value="{{ journal.journal_no }}" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Reference No:</label>
                                <input type="text" name="reference_no" class="form-control" value="{{ journal.reference_no }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Notes:</label>
                                <textarea name="notes" class="form-control" style="height: 60px;">{{ journal.notes }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Currency:</label>
                                <select name="currency" class="form-control">
                                    <option value="INR">INR-Indian Rupee</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-check-label">Journal Type:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" name="cash_journal" class="form-check-input" id="cash_journal" {% if journal.cash_journal %}checked{% endif %}>
                                <label class="form-check-label" for="">Cash Based Journal</label>
                            </div>
                        </div>
                    </div>
                    <table id="journal_table" class="table table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Select Account</th>
                                <th>Description</th>
                                <th>Contact (INR)</th>
                                <th>Debits</th>
                                <th>Credits</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for journal_entry in journal.journalentry_set.all %}
                            <tr>
                                <td class="text-white">{{ forloop.counter }}</td>
                                <td>
                                    <div class="input-group">
                                    <select name="account" class="form-control">
                                        <option value="">Select Account</option>
                                        {% for account in accounts %}
                                        <option value="{{ account.account_name }}" {% if journal_entry.account == account.account_name %}selected{% endif %}>{{ account.account_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button type="button" class="form-control btn btn-primary"  data-toggle="modal" data-target="#create_account" onclick="openModal()">+</button>                                    
                                    </div>
                                </div>
                                </td>
                                <td><input type="text" name="description" class="form-control" value="{{ journal_entry.description }}"></td>
                                <td>
                                    <select name="contact" class="form-control">
                                        <option value="">Select Contact (INR)</option>
                                        {% for customer in customers %}
                                        <option value="{{ customer.customerName }}" {% if journal_entry.contact == customer.customerName %}selected{% endif %}>{{ customer.customerName }}</option>
                                        {% endfor %}
                                        {% for vendor in vendors %}
                                        <option value="{{ vendor.vendor_display_name }}" {% if journal_entry.contact == vendor.vendor_display_name %}selected{% endif %}>{{ vendor.vendor_display_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="number" name="debits" class="form-control" value="{{ journal_entry.debits }}" onchange="calculateTotals()"></td>
                                <td><input type="number" name="credits" class="form-control" value="{{ journal_entry.credits }}" onchange="calculateTotals()"></td>
                                <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-times"></i></button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="addRow()">+</button>  
                    <br><br>                  
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label for="">Attach File(s):</label>
                            <div class="form-group">
                                <input type="file" name="attachment" class="form-control-file text-light">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Subtotal</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-light">Total Amount</td>
                                        <td><input type="number" class="form-control" id="totalDebit" placeholder="0" value="{{ journal.total_debit }}"></td>
                                        <td><input type="number" class="form-control" id="totalCredit" placeholder="0" value="{{ journal.total_credit }}"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-light">Difference</td>
                                        <td><input type="number" class="form-control" id="debitDifference" placeholder="0" value="{{ journal.difference }}"></td>
                                        <td><input type="number" class="form-control" id="creditDifference" placeholder="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-left mt-4">
                        <div class="col-md-4 text-start"> 
                            <button type="submit" class="btn btn-secondary">Save</button>
                            <button type="button" class="btn btn-outline-secondary ms-2" onclick="clearForm()">Clear</button> <!-- Added class: ms-2 -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                <form action="{% url 'account_edit_journal'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="modal" id="create_account">
                      <div class="modal-dialog modal-xl modal-dialog-centered " role="document">
                        <div class="modal-content modal-xl p-5" style="background-color: #000000;">
                          <div class="modal-header">
                            <h5 class="modal-title text-info">Create Account</h5>
                            <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                              style="font-size: 20px;background-color: #000000;border:none;">
                              <span aria-hidden="true">&times;</span> 
                            </button>
                          </div>
                          <div class="row mt-4">
                            <div class="col-sm-8">             
                      <div class="row">
                        <div class="col-sm-4">
                          <label for="">Account Type:</label>
                        </div>
                        <div class="col-sm-8">
                          <div class="select-box1" onclick="message()">
                            <div class="select-option1" >
                              <input type="text" placeholder="select" id="soValue1" name="account_type"  readonly>
                            </div>
                            <div class="content1" id="myDropdown1">
                              <div class="search1">
                                <input type="text" placeholder="search" id="myInput1" onkeyup="filterFunction1()">
                              </div>
                              <ul class="options1">
                                <div class="opt">
                                  Assets
                                 <li>Other Assets</li>
                                 <li>Other Current Assets</li>
                                 <li>Cash</li>
                                 <li>Bank</li>
                                 <li>Fixed Asset</li>
                                 <li>Stock</li>
                                 <li>Payment Clearing</li>
                                </div>
                                
                                 <div class="opt">
                                  Liability
                                 <li>Other Liability</li>
                                 <li>Other Current Liability</li>
                                 <li>Credit Card</li>
                                 <li>Long Term Liability</li>
                                 <li>Overseas Tax Payable</li>
                                 </div>
                  
                                 <div class="opt">
                                  Equity
                                 <li>Equity</li>                  
                                 </div>
                  
                                 <div class="opt">
                                  Income
                                 <li>Income</li>   
                                 <li>Other Income</li>               
                                 </div>
                  
                                 <div class="opt">
                                  Expense
                                 <li>Expense</li>   
                                 <li>Cost Of Goods Sold</li>  
                                 <li>Other Expense</li>             
                                 </div>
                              </ul>
                              
                             
                  
                            </div>
                          </div>
                         
                        </div>
                       
                        <script>
                          const selectBox1=document.querySelector('.select-box1');
                          const selectOption1=document.querySelector('.select-option1');
                          const optionsList1=document.querySelectorAll('.options1 li');
                          const soValue1=document.querySelector('#soValue1');
                    
                          selectOption1.addEventListener('click',function(){
                            selectBox1.classList.toggle('active')
                          })
                    
                          optionsList1.forEach(function(optionsListSingle){
                            optionsListSingle.addEventListener('click',function(){
                              text=this.textContent;
                              soValue1.value=text;
                              selectBox1.classList.remove('active')
                    
                            })
                          })
                        </script>
                      </div>            
                              <div id="name" style="display: block;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Account Name:</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control text-dark bg-light" name="account_name" id="account_name">
                                  </div>
                                </div>
                              </div> 
                  
                              <div id="credit" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Credit Card Name:</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control text-dark bg-light" name="credit_number" id="credit_number">
                                  </div>
                                </div>
                              </div>
                
                        <!-- ...................   checkbox............................. --> 
                        <div id="sub_div" style="display: none;">
                
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                
                                <div class="col-sm-8">
                
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent()" name="sub_account" id="sub_account">
                  
                                    <label for="">Make this a sub-account</label>
                
                              </div>
                              </div>
                            </div>
                
                            <div id="sub_div22" style="display: none;">
                
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                
                                <div class="col-sm-8">
                
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent22()" name="sub_account22" id="sub_account22">
                  
                                    <label for="">Make this a sub-account</label>
                
                              </div>
                              </div>
                            </div>
                
                            <div id="sub_div33" style="display: none;">
                
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                
                                <div class="col-sm-8">
                
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent33()" name="sub_account33" id="sub_account33">
                  
                                    <label for="">Make this a sub-account</label>
                
                              </div>
                              </div>
                            </div>
                
                            <div id="sub_div44" style="display: none;">
                
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                
                                <div class="col-sm-8">
                
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent44()" name="sub_account44" id="sub_account44">
                  
                                    <label for="">Make this a sub-account</label>
                
                              </div>
                              </div>
                            </div>
                
                            <div id="sub_div55" style="display: none;">
                
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                
                                <div class="col-sm-8">
                
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent55()" name="sub_account55" id="sub_account55">
                  
                                    <label for="">Make this a sub-account</label>
                
                              </div>
                              </div>
                            </div>
                
                
                            <div id="sub_div66" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent66()" name="sub_account66" id="sub_account66"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                
                
                            <div id="sub_div77" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent77()" name="sub_account77" id="sub_account77"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                
                
                            <div id="sub_div88" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent88()" name="sub_account88" id="sub_account88"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                            <div id="sub_div99" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent99()" name="sub_account99" id="sub_account99"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                            <div id="sub_div100" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent100()" name="sub_account100" id="sub_account100"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                            <div id="sub_div111" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent111()" name="sub_account111" id="sub_account111"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                            <div id="sub_div222" style="display: none;">
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="checkbox" class=" text-dark bg-light" onclick="show_parent222()" name="sub_account222" id="sub_account222"> 
                                    <label for="">Make this a sub-account</label>
                                </div>
                              </div>
                            </div>
                
                
                
                
                 <!-- ..........................  checkbox ............................. -->
                
                              <div id="parent_div" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account" id="parent_account">
                                      <option value="" class="bg-dark text-light text-center" disabled>Other Current Assets</option>
                                      <option value="" selected></option>
                                      <option value="Advance Tax">Advance Tax</option>
                                      <option value="Employee Advance">Employee Advance</option>
                                      <option value="Prepaid Expenses">Prepaid Expenses</option>
                                      <option value="GST TCS Receivable">GST TCS Receivable</option>
                                      <option value="GST TDS Receivable">GST TCS Receivable</option>
                                      <option value="Input Tax Credits">Input Tax Credits</option>
                                        <option value="Input CGST">&nbsp; &nbsp;&nbsp;Input CGST</option>
                                        <option value="Input IGST"> &nbsp; &nbsp;&nbsp;Input IGST</option>
                                        <option value="Input SGST">&nbsp; &nbsp;&nbsp;Input SGST</option>
                
                                      
                                      <option value="Reverse Charge Tax Input but no due">Reverse Charge Tax Input but no due</option>
                                      <option value="Sales to Customers(Cash)">Sales to Customers(Cash)</option>
                
                
                                      <option value="TDS Receivable">TDS Receivable</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                              <div id="parent_div22" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account22" id="parent_account22">
                                      <option value="" class="bg-dark text-light text-center" disabled>Cash</option>
                                      <option value="" class="bg-dark text-light text-center" selected></option>
                
                                      <option value="Petty Cash">Petty Cash</option>
                                      <option value="Undeposited Fund">Undeposited Fund</option>
                                      
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                              <div id="parent_div33" style="display:none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account33" id="parent_account33">
                                      <option value="" class="bg-dark text-light text-center" disabled>Fixed Asset</option>
                                      <option value="" class="bg-dark text-light text-center" selected></option>
                
                                      <option value="Furniture and Equipment">Furniture and Equipment</option>
                                      
                                    </select>
                                  </div>
                                </div>
                              </div>
                              
                
                
                              <div id="parent_div44" style="display:none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account44" id="parent_account44">
                                      <option value="" class="bg-dark text-light text-center" disabled>Stock</option>
                                      <option value="" class="bg-dark text-light text-center" selected></option>
                
                                      <option value="Inventory Asset">Inventory Asset</option>
                                      
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                              <div id="parent_div55" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account55" id="parent_account55">
                                      <option value="" class="bg-dark text-light text-center" disabled>Other Current Liability</option>
                                      <option value="" class="bg-dark text-light text-center" selected></option>
                
                                      <option value="Employee Reimbursements">Employee Reimbursements</option>
                                      <option value="Opening Balance Adjustments">Opening Balance Adjustments</option>
                                      <option value="Tax Payable">Tax Payable</option>
                                      <option value="Unearned Revenue">Unearned Revenue</option>
                                      <option value="GST Payable">GST Payable</option>
                                        <option value="Output CGST">&nbsp;&nbsp;&nbsp;Output CGST</option>
                                        <option value="Output IGST">&nbsp;&nbsp;&nbsp;Output IGST</option>
                                        <option value="Output SGST">&nbsp;&nbsp;&nbsp;Output SGST</option>
                                      <option value="TDS Payable">TDS Payable</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                              <div id="parent_div66" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">                
                                    <select class="form-control text-dark bg-light" name="parent_account66" id="parent_account66">
                                      <option value="" class="bg-dark text-light text-center" disabled>Long Term Liability</option>
                                      <option value="" selected></option>
                                      <option value="Construction Loans">Construction Loans</option>
                                      <option value="Mortgages">Mortgages</option>
                
                                      
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                              <div id="parent_div77" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">               
                                    <select class="form-control text-dark bg-light" name="parent_account77" id="parent_account77">
                                      <option value="" class="bg-dark text-light text-center" disabled>Other Liability</option>
                                      <option value="" selected></option>
                                      <option value="Tag Adjustments">Tag Adjustments</option>                     
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                              <div id="parent_div88" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account88" id="parent_account88">
                                      <option value="" class="bg-dark text-light text-center" disabled>Equity</option>
                                      <option value="" selected></option>
                                      <option value="Drawings">Drawings</option>                     
                                      <option value="Opening Balance Offset">Opening Balance Offset</option>                     
                                      <option value="Owner's Equity">Owner's Equity</option>                     
                                      <option value="Retained Earnings">Retained Earnings</option>                     
                                      <option value="Capital Stock">Capital Stock</option>                     
                                      <option value="Distributions">Distributions</option>  
                                      <option value="Dividends Paid">Dividends Paid</option>                     
                                      <option value="Investments">Investments</option>                     
                                  
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                              
                              <div id="parent_div99" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">               
                                    <select class="form-control text-dark bg-light" name="parent_account99" id="parent_account99">
                                      <option value="" class="bg-dark text-light text-center" disabled>Income</option>
                                      <option value="" selected></option>
                                      <option value="Discount">Discount</option>                     
                                      <option value="General Income">General Income</option>                     
                                      <option value="Interest Income">Interest Income</option>                     
                                      <option value="Late Fee Income">Late Fee Income</option>                     
                                      <option value="Other Charges">Other Charges</option>                     
                                      <option value="sales">sales</option>  
                                      <option value="Shipping Charge">Shipping Charge</option>                     
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                
                              <div id="parent_div100" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">               
                                    <select class="form-control text-dark bg-light" name="parent_account100" id="parent_account100">
                                      <option value="" class="bg-dark text-light text-center" disabled>Expense</option>
                                      <option value="" selected></option>
                                      <option value="Discount">Discount</option>                     
                                      <option value="Advertising and Marketing">Advertising and Marketing</option>                     
                                      <option value="Automobile Expense">Automobile Expense</option>                     
                                      <option value="Bad Debt">Bad Debt</option>                     
                                      <option value="Bank Fees and Charges">Bank Fees and Charges</option>                     
                                      <option value="Consultant Expense">Consultant Expense</option>  
                                      <option value="Credit Card Charges">Credit Card Charges</option> 
                                      <option value="Depreciation Expense">Depreciation Expense</option>                     
                                      <option value="IT and Internet Expenses">IT and Internet Expenses</option>                     
                                      <option value="Ganitorial Expense">Ganitorial Expense</option>                     
                                      <option value="Lodging">Lodging</option>                     
                                      <option value="Meals and Entertainment">Meals and Entertainment</option> 
                                      <option value="Office Supplies">Office Supplies</option>                     
                                      <option value="Other Expenses">Other Expenses</option>                     
                                      <option value="Postage">Postage</option>                     
                                      <option value="Printing and Stationery">Printing and Stationery</option>                     
                                      <option value="Rent Expense">Rent Expense</option>    
                                      <option value="Repairs and Maintenance">Repairs and Maintenance</option>                     
                                      <option value="Salaries and Employee Wages">Salaries and Employee Wages</option>                     
                                      <option value="Telephone Expense">Telephone Expense</option>                     
                                      <option value="Travel Expense">Travel Expense</option>                     
                                      <option value="Uncategorized">Uncategorized</option>   
                                      <option value="Contract Assets">Contract Assets</option>                     
                                      <option value="Depreciation And Amortisation">Depreciation And Amortisation</option>                     
                                      <option value="Merchandise">Merchandise</option>                     
                                      <option value="Raw Materials And Consumables">Raw Materials And Consumables</option>                     
                                      <option value="Transportation Expense">Uncategorized</option>                     
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                
                              <div id="parent_div111" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account111" id="parent_account111">
                                      <option value="" class="bg-dark text-light text-center" disabled>Cost Of Goods Sold</option>
                                      <option value="" selected></option>
                                      <option value="Cost Of Goods Sold">Cost Of Goods Sold</option>                     
                                      <option value="Job Costing">Job Costing</option>                     
                                      <option value="Labor">Labor</option>                     
                                      <option value="Materials">Materials</option>                     
                                      <option value="Subcontractor">Subcontractor</option>                     
                                      
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                              
                              <div id="parent_div222" style="display: none;">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Parent Account:</label>
                                  </div>
                                  <div class="col-sm-8">
                                
                                    <select class="form-control text-dark bg-light" name="parent_account222" id="parent_account222">
                                      <option value="" class="bg-dark text-light text-center" disabled>Other Expense</option>
                                      <option value="" selected></option>
                                      <option value="Cost Of Goods Sold">Exchange Gain or Loss</option>                     
                                      
                                    </select>
                                  </div>
                                </div>
                              </div>
                
                
                
                
                  
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for="">Account Code:</label>
                                </div>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control text-dark bg-light" name="account_code" id="account_code">
                                </div>
                              </div> 
                              <div style="display: none;" id="acc_bo_div">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Account Number:</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control text-dark bg-light" name="account_number" id="account_number">
                                  </div>
                                </div>
                              </div>
                  
                              <div style="display: none;" id="cr_div">
                                <div class="row mt-3">
                                  <div class="col-sm-4">
                                    <label for="">Currency:</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control text-dark bg-light" name="currency" id="currency">
                                  </div>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for="">Description:</label>
                                </div>
                                <div class="col-sm-8">
                                  <textarea name="description" class="form-control text-dark bg-light" id="description" placeholder="Max. 500 characters"></textarea>
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-sm-4">
                                  <label for=""></label>
                                </div>
                                <div class="col-sm-8">
                                  <input type="checkbox" class=" text-dark bg-light" name="watchlist" id="watchlist">
                    
                                  <label for="">Add to the watchlist on my dashboardt</label>
                                </div>
                              </div>
                  
                            </div>
                  
                            <div class="col-sm-4">
                              <div class="alert alert-warning alert-dismissible fade show">
                                <span id="message_hd">Assets</span> <br>
                                <span id="message">Track special assets like goodwill and other intangible assets</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                              </div> 
                            </div>           
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <input class="btn btn-success" type="submit" value="Save">           
                              <input class="btn btn-light ml-3" type="reset" value="Cancel">
                            </div>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </form>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
<script>
    function addRow() {
        var table = document.getElementById("journal_table");
        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var numberCell = row.insertCell(0);
        var accountCell = row.insertCell(1);
        var descriptionCell = row.insertCell(2);
        var contactCell = row.insertCell(3);
        var debitsCell = row.insertCell(4);
        var creditsCell = row.insertCell(5);
        var actionCell = row.insertCell(6);

        numberCell.style.color = "white";


        numberCell.innerHTML = rowCount;
        accountCell.innerHTML = `
    <div class="input-group">
        <select name="account" class="form-control">
            <option value="">Select Account</option>
            {% for account in accounts %}
            <option value="{{ account.account_name }}">{{ account.account_name }}</option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button type="button" class="form-control btn btn-primary"  data-toggle="modal" data-target="#create_account" onclick="openModal()">+</button>
        </div>
    </div>
`;
        descriptionCell.innerHTML = '<input type="text" name="description" class="form-control">';
        var options = '';
        options += '<option value="">Select Contact</option>';

        '{% for vendor in vendors %}'
            options += '<option value="{{ vendor.vendor_display_name }}">{{ vendor.vendor_display_name }}</option>';
        '{% endfor %}'

        '{% for customer in customers %}'
            options += '<option value="{{ customer.customerName }}">{{ customer.customerName }}</option>';
        '{% endfor %}'

        contactCell.innerHTML = '<select name="contact" class="form-control">' + options + '</select>';

        debitsCell.innerHTML = '<input type="number" name="debits" class="form-control" onchange="calculateTotals()">';
        creditsCell.innerHTML = '<input type="number" name="credits" class="form-control"onchange="calculateTotals()">';
        actionCell.innerHTML = '<button type="button" class="btn btn-danger" onclick="deleteRow(this)"><i class="fa fa-times"></i></button>';
    }

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function clearForm() {
        var form = document.querySelector('form');
        form.reset();
    }

    function calculateTotals() {
        var debitInputs = document.querySelectorAll('input[name="debits"]');
        var creditInputs = document.querySelectorAll('input[name="credits"]');
        var totalDebit = 0;
        var totalCredit = 0;

        debitInputs.forEach(function (input) {
            totalDebit += parseFloat(input.value) || 0;
        });

        creditInputs.forEach(function (input) {
            totalCredit += parseFloat(input.value) || 0;
        });

        document.getElementById('totalDebit').value = totalDebit.toFixed(2);
        document.getElementById('totalCredit').value = totalCredit.toFixed(2);

        var difference = totalDebit - totalCredit;

        if (difference < 0) {
            document.getElementById('debitDifference').value = Math.abs(difference).toFixed(2);
            document.getElementById('creditDifference').value = "0.00";
        } else {
            document.getElementById('debitDifference').value = "0.00";
            document.getElementById('creditDifference').value = difference.toFixed(2);
        }
    }
    function openModal() {
        $('#myModal').modal('show');
    }
    $('#accountForm').submit(function (e) {
    e.preventDefault(); 

    var form = $(this);
    var url = form.attr('action');
    var formData = form.serialize();

    $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        success: function (response) {
    if (response.success === true) {
        var accountSelect = document.querySelector('select[name="account"]');
        var option = document.createElement('option');
        option.value = response.accountName;
        option.text = response.accountName;
        accountSelect.add(option);

        $('#myModal').modal('hide');
    } else {
        console.log(response.message);
    }
},
        error: function (xhr, status, error) {
            console.error(error);
        }
    });
});
</script>

{% endblock %}
