<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journal Comments</title>
  <style>
    textarea {
      background-color: transparent;
    }
  </style>
</head>

<body>
  <h4>Journal Comments:</h4>

  <ul>
    {% for comment in comments %}
    <li>{{ comment.text }} - {{ comment.date_time }}</li>
    {% endfor %}
  </ul>

  <form id="commentForm" method="POST" action="{% url 'add_comment' journal.id %}">
    {% csrf_token %}
    <textarea name="comment" id="commentInput"></textarea>
    <button type="submit" class="text-success">Add Comment</button>
  </form>
</body>

</html> -->
