{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .custom-height {
        height: 40px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .custom-item:hover {
        color: white;
    }
</style>
<section>
    <div class="row fixed-top" style="top: 7rem; margin-left: 18rem;">
        <div class="col-md-3">
            <a class="text-white" style="font-size: 2rem;">Manual Journal</a>
        </div>
        <div class="col-md-9 text-right">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <form action="{% url 'manual_journal_home' %}" method="GET">
                        <div class="input-group">
                            <input type="text" id="searchInput" name="query" placeholder="Search" class="form-control custom-height" value="{{ query }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary  custom-height">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle custom-height" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Filter By
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li><a class="dropdown-item custom-item" href="#">All</a></li>
                            <li><a class="dropdown-item custom-item" href="{% url 'draft_journal_list' %}">Draft</a></li>
                            <li><a class="dropdown-item custom-item" href="{% url 'published_journal_list' %}">Published</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'add_journal' %}"><button class="btn btn-primary  custom-height">+ Add Journal</button></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Journal No</th>
                    <th>Reference No</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in journal %}
                <tr>
                    <a href="{% url 'journal_list' %}">
                    <td> <a href="{% url 'journal_list' %}"> {{ entry.date }}</a></td>
                    <td> <a href="{% url 'journal_list' %}"> {{ entry.journal_no }}</a></td>
                    <td> <a href="{% url 'journal_list' %}"> {{ entry.reference_no }}</a></td>
                    <td>
                        <a href="{% url 'journal_list' %}">
                        {% if entry.status == 'published' %}
                            <span class="status published text-success">{{ entry.status }}</span>
                        {% else %}
                            <span class="status" style="color: orangered;">{{ entry.status }}</span>
                        {% endif %}
                        </a>
                    </td> 
                    <td>
                        <a href="{% url 'journal_list' %}">
                        <div class="note-icon" data-toggle="tooltip" data-placement="top" title="{{ entry.notes }}"><i class="fas fa-sticky-note"></i></div>
                        </a>
                    </td>
                    <td><a href="{% url 'journal_list' %}"><i class="fa fa-inr"></i>{{ entry.total_debit }}</a></td>
                </a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
