{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.10.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>


<style>
    .custom-height {
        height: 40px;
    }

    .list-item {
        cursor: pointer;
        margin-top: 20px;
    }

    .vertical-separator {
        border-right: 1px solid #ddd;
    }

    .list-item:hover {
        border: 1px solid rgb(230, 171, 45);
        border-radius: 5px;
       
    }

    /* Fix the CSSParseError by removing the unmatched closing bracket */
  /*  .custom-item:hover {
        color: white;
    }*/

    .btn-group {
        display: inline-flex;
    }

    .btn-group > * {
        margin-right: -2px;
    }

    
     p{
        font-size: 18px;
    }
    .p{
        color:  #DC3545;
    }
    .icons{
        padding-left: 12px;
        margin-left: 250px;
    }
    .icons a{
        background-color: rgb(230, 171, 45);
        font-size: 18px;
        
    }
</style>


<section id="container">
    <div class="row" style="top: 7rem;">
        <div class="col-md-5">
            <div class="search-bar">
                <form class="input-group">
                    <input type="search" id="search-input" placeholder="Search Payment Made" class="form-control custom-height bg-dark">
                    <div class="input-group-append">
                        <button type="submit" class="btn  custom-height" style="background-color: rgb(230, 171, 45);">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-5 vertical-separator">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb">Payment Made</h3>
                    <div class="btn-group" role="group">
                        <a href="{% url 'paymentadd_method' %}" class="btn" style="background-color: rgb(230, 171, 45);">+New</a>
                        
                    </div>
                </div>

                <div class="list-group mt-3">
                    {% for p in payment_items %}
                    <a href="#" class="list-item" data-journal-id="{{ p.id }}"
                        data-journal-details-url="{% url 'payment_template' p.id %}">
                        <div class="d-flex justify-content-between text-white">
                            <span>{{ p.vendor.first_name }}</span>
                            <span><i class="fa fa-inr"></i>{{ p.amount }}</span>
                        </div>
                        <div class="d-flex justify-content-between text-white mt-2">
                            <span>{{ p.date }}</span>
                            <!-- <span>{{ journal.status }}</span> -->
                            
                        </div>
                        
                    </a>
                    
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-7">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- <button class="btn btn-outline-danger template-button">Template</button> -->

                    <div class="text-right icons">   
                                       
                        <a href="#" class="text-white btn btn-sm editoption" style="margin-right: 10px;" data-payment-id="{{ payment.id }}"><i class="fa fa-edit"></i>&nbsp;Edit</a>


                            <a href="#" class="text-white btn btn-sm" onclick="convertToPDF()"  style="margin-right: 10px;"><i
                                class="fa fa-file-pdf"></i>&nbsp; PDF</a>
                        <a  class="text-white btn btn-sm" onclick="printPage()" style="margin-right: 10px;"><i
                                class="fa fa-print"></i>&nbsp;Print</a>
                        
                                <a href="#" class="text-white deleteoption btn btn-sm" style="margin-right: 10px;" >
                                    <i class="fa fa-trash"></i>&nbsp;Delete</a>
                    </div>
                </div>
                <div class="details-section mt-3">
                    


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>



        <title>template file</title>

        <style>
            .container-fluid{
                height: 900px;
                width: 100%;
            }
           
        </style>
<body>
    <div class="container-fluid bg-white text-dark"  >
        <div class="row">
            <div class="col-lg-9">
                <h1>Altos</h1>
            </div>
            <div class="col-lg-3 ">
                <!-- <div class="icons text-left" style=" font-size: 25px; ">                    
                    <a href="#" class="text-danger editoption" style="margin-right: 10px;" ><i class="fa fa-edit"></i></a>

                    <a href="#" class="text-dark" onclick="convertToPDF()" style="margin-right: 10px;"><i
                            class="fa fa-file-pdf"></i></a>
                    <a href="#" class="text-primary" onclick="printPage()" style="margin-right: 10px;"><i
                            class="fa fa-print"></i></a>
                    
                    <a href="{% url 'delete_payment' payment.id %}" class="text-warning" style="margin-right: 10px;" ><i
                            class="fa fa-trash"></i></a>
                </div> -->
            </div>
        </div>

        
<section id="container">

        <div class="heading text-center" style="padding-top: 60px; height: 100%;">
            <h1>Payment Made</h1>
        </div>
        <div class="vendor-name" style="margin-top: 20px;">
            <h1 style="font-size: 15px;">Name:{{ payment.vendor.first_name }}&nbsp;{{ payment.vendor.last_name }}</h1>
        </div>
        <div class="row"style="margin-top: 20px;">
            <div class="col-sm-4">
                <h4 style="font-size: 11px;">Email: <span class="p">{{ payment.vendor.vendor_email }}</span></h4>
            </div>
            
            <div class="col-sm-4">
                <h4 style="font-size: 12px;">Reference: <span class="p">{{ payment.reference }}</span></h4>

            </div>
            <div class="col-sm-4">
                <h4 style="font-size: 12px;">Payment Date: <span class="p">{{ payment.date }}</span></h4>

            </div>
        </div>
        <div class="gst" style="margin-top: 20px;">
            <p style="font-size: 12px;">GST Treatment: <span class="p">{{ payment.gst }}</span></p>

        </div>
        <div class="paid" style="margin-top: 20px;">
            <p style="font-size: 12px;">Payment Method: <span class="p">{{ payment.payment }}</span></p>

        </div>
        <table id="vendorTable" class="table text-center" style="width:100%;  margin-top: 20px; padding: 20px; ">
            <thead>
                <tr>
                    <th style="font-size: 12px;" class="text-dark">Paid Through</th>
                    <th style="font-size: 12px;" class="text-dark">Amount Received</th>
                    <th style="font-size: 12px;" class="text-dark">Openning Balance</th>
                    <th style="font-size: 12px;" class="text-dark">Current Balance</th>
                    
                    
                </tr>
                <tbody>
                    <tr>
                        <td style="font-size: 12px;" class="text-dark">{{ payment.cash.bnk_name }}</td>
                        <td style="font-size: 12px;" class="text-dark">₹{{ payment.amount }}</td>
                        <td style="font-size: 12px;" class="text-dark">₹{{ payment.balance }}</td>
                       <td style="font-size: 12px;" class="text-dark">₹{{ payment.current_balance }}</td> 
                    </tr>
                    

                </tbody>
            </thead>
        </table>

    </section>
    <footer style="margin-top: 40px; width: 100%; height: auto; padding: 20px; background-color: #F5917C; color: #fff;" >
        <h5 class="text-center" style="font-size: 12px;">© Zho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345 | Phone: (123) 456-7890 | Email: info@zohodjango.com</h5>
    </footer>
    </div>
</body>

<script>
   function printPage() {
    window.print();
}
function convertToPDF(){
    const container = document.getElementById('container');

    const options = {
        filename: 'payment.pdf',
        image:{type:'jpeg',quality:0.98},
        htmt2canvas:{scale:2},
        jsPDF:{unit:'mm', format:'a4', orientation:'portrait'}
    };
    html2pdf().from(container).set(options).save();
}
$(document).ready(function() {
    // Click event handler for the "Edit" button with class editoption
    $('.editoption').click(function() {
        // Delay execution of the edit logic to ensure the list item is active
        setTimeout(handleEditOption, 50);
    });

    // Click event handler for list items in the list-group
    $('.list-group').on('click', '.list-item', function() {
        // Remove the 'active' class from other list items and add it to the clicked one
        $('.list-item').removeClass('active');
        $(this).addClass('active');
    });

    // Common edit logic function
    function handleEditOption() {
        var selectedJournalId = $('.list-item.active').data('journal-id');
        if (selectedJournalId !== undefined) {
            var editUrl = "{% url 'payment_edit' %}?payment_id=" + selectedJournalId;
            window.location.href = editUrl;
        } else {
            // Show an error message or handle the situation when selectedJournalId is undefined
            console.error("Error: Selected Journal ID is undefined.");
        }
    }
});


</script>



                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('.list-item').click(function () {
            $('.list-item').removeClass('active');
            $(this).addClass('active');

            var journalId = $(this).data('journal-id');
            var journalDetailsUrl = $(this).data('journal-details-url');
            $('.details-section').html('<p>Loading payment details...</p>');
            $.ajax({
                url: journalDetailsUrl,
                method: 'GET',
                data: {
                    journal_id: journalId
                },
                success: function (response) {
                    $('.details-section').html(response);
                    $('.template-button').show();
                },
                error: function () {
                    $('.details-section').html('<p>Failed to load payment details.</p>');
                }
            });
        });

        
       

        $('.editoption').click(function() {
            var selectedJournalId = $('.list-item.active').data('journal-id');
            var editUrl = "{% url 'payment_edit'  %}?payment_id=" + selectedJournalId;
            window.location.href = editUrl;
        });

        $('.deleteoption').click(function() {
            var selectedJournalId = $('.list-item.active').data('journal-id');
            var editUrl = "{% url 'payment_delete_details'  %}?payment_id=" + selectedJournalId;
            window.location.href = editUrl;
        });

        

         
        
       

    });
    

    function printPage() {
    window.print();
}



function convertToPDF(){
    const container = document.getElementById('container');

    const options = {
        filename: 'payment.pdf',
        image:{type:'jpeg',quality:0.98},
        htmt2canvas:{scale:2},
        jsPDF:{unit:'mm', format:'a4', orientation:'portrait'}
    };
    html2pdf().from(container).set(options).save();
}
$(document).ready(function () {
        // Function to handle the search functionality
        function performSearch() {
            var searchQuery = $('#search-input').val().trim().toLowerCase();
            $('.list-item').each(function () {
                var text = $(this).text().toLowerCase();
                if (text.includes(searchQuery)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        // Trigger the search when the "Search" button is clicked
        $('.search-bar button').click(function (event) {
            event.preventDefault();
            performSearch();
        });

        // Trigger the search when the user types in the search input
        $('#search-input').keyup(function () {
            performSearch();
        });

        // Show all items initially when the page is loaded
        $('.list-item').show();
    });

    $(document).ready(function() {
  // Click event handler for the "Edit" button with class editoption
  $('.editoption').click(function() {
    var selectedJournalId = $('.list-item.active').data('journal-id');
    if (selectedJournalId !== undefined) {
      var editUrl = "{% url 'payment_edit' %}?payment_id=" + selectedJournalId;
      window.location.href = editUrl;
    } else {
      // Show an error message or handle the situation when selectedJournalId is undefined
      console.error("Error: Selected Journal ID is undefined.");
      // Optionally, you can show a message to the user that they need to select a row before clicking Edit
    }
  });

  // Click event handler for list items in the list-group
  $('.list-group').on('click', '.list-item', function() {
    // Remove the 'active' class from other list items and add it to the clicked one
    $('.list-item').removeClass('active');
    $(this).addClass('active');

    var journalId = $(this).data('journal-id');
    var journalDetailsUrl = $(this).data('journal-details-url');
    $('.details-section').html('<p>Loading payment details...</p>');
    $.ajax({
      url: journalDetailsUrl,
      method: 'GET',
      data: {
        journal_id: journalId
      },
      success: function(response) {
        $('.details-section').html(response);
        $('.template-button').show();
        $('.editoption').prop('disabled', false); // Enable the Edit button
      },
      error: function() {
        $('.details-section').html('<p>Failed to load payment details.</p>');
        $('.editoption').prop('disabled', true); // Disable the Edit button on error
      }
    });
  });

  // Trigger "Edit" button click when the page loads with a specific row selected
  $(window).on('load', function() {
    var selectedJournalId = $('.list-item.active').data('journal-id');
    if (selectedJournalId !== undefined) {
      var editUrl = "{% url 'payment_edit' %}?payment_id=" + selectedJournalId;
      window.location.href = editUrl;
    }
  });
});

$(document).ready(function() {
  // Function to open the payment details page on clicking the "editoption" link
  $('.editoption').click(function(e) {
    e.preventDefault(); // Prevent default link behavior (i.e., navigating to another page)

    // Get the payment_id from the data attribute
    var paymentId = $(this).data('payment-id');

    // Construct the URL for the payment_details view using the paymentId
    var url = "/payment_details/" + paymentId + "/";

    // Redirect to the payment_details view
    window.location.href = url;
  });
});
$(document).ready(function() {
  // Click event handler for the "Delete" button with class deleteoption
  $('.deleteoption').click(function() {
    var selectedJournalId = $(this).data('journal-id');
    if (selectedJournalId !== undefined) {
      // Send an AJAX request to the Django view that handles the delete operation
      $.ajax({
        url: "{% url 'payment_delete_details' %}",
        method: 'DELETE',
        data: {
          journal_id: selectedJournalId
        },
        success: function(response) {
          // Handle the success response (e.g., refresh the page or update the list)
          alert('Payment data deleted successfully.');
          window.location.reload(); // For example, refresh the page after successful deletion
        },
        error: function() {
          // Handle the error response
          alert('Failed to delete payment data.');
        }
      });
    } else {
      // Show an error message or handle the situation when selectedJournalId is undefined
      console.error("Error: Selected Journal ID is undefined.");
      // Optionally, you can show a message to the user that they need to select a row before clicking Delete
    }
  });
});

</script>

{% endblock %}
